<div [@animeSideBar]="test" class="side_bar-back rounded-3xl drop-shadow-xl">
  <mat-icon class="menu" (click)="changeTest()">menu</mat-icon>


  <nav *ngIf="test === 'show'" [@animateContentSideBar]>
    <ul class="list">
      <div *ngFor="let item of tab" class=" {{item.path}}" (click)="redirectTo(item.path)">
        <li class=" mx-4 sm:mx-8  my-2 " [ngClass]="{'active' : item.path  === path}">
          <mat-icon class="icon">{{item.icon}}</mat-icon>
          <p>{{item.word}}</p>
        </li>
        <div *ngIf="item.path !== 'logout'" class="w-full border-b border-black-perso"></div>
      </div>
    </ul>
  </nav>
</div>
