<div class="">
  <div class="h-1/2 backgroundColor md:w-2/5 sm:w-3/5 rounded-3xl drop-shadow-xl flex justify-between sm:pt-1 sm:p-0 m-4 p-1.5">
    <div class="w-full depense h-full overflow-y-hidden ">
      <div class="UNJOUR">
        <div>
          <div class="flex justify-between mx-2 sm:mx-4 sm:text-xl text-md">
            <h2 class="gris sm:text-2xl text-xl  mx-1">Hier</h2>
            <p class="text-green-500">+ 2483.41 €</p>
          </div>
        </div>
      </div>
      <!-- <div class="UNJOUR">

        <!-- * HEADER
      <div>
        <div class="flex justify-between mx-2 sm:mx-4 sm:text-xl text-md">
          <h2 class="gris sm:text-2xl text-xl  mx-1">Hier</h2>
          <p class="text-green-500">+ 2483.41 €</p>
        </div>
      </div>

      <!-- * achat
      <div>
        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Course Carrefour</p>
          <p class="text-red-600">- 300 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Achat jeux</p>
          <p class="text-red-600">- 30 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Paye du mois</p>
          <p class="text-green-500">+ 2713.41 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>

      </div>
    </div>

    <div class="DEUXJOUR">
      <!-- * HEADER
      <div>
        <div class="flex justify-between mx-2 sm:mx-4 sm:text-xl text-md">
          <h2 class="gris sm:text-2xl text-xl  mx-1">21 March 2022</h2>
          <p class="text-red-600">- 919 €</p>
        </div>
      </div>

      <!-- * achat
      <div>
        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Loyer</p>
          <p class="text-red-600">- 745 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Électricité</p>
          <p class="text-red-600">- 174 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


      </div>
    </div>

    <div class="TROIS">
      <!-- * HEADER
      <div>
        <div class="flex justify-between mx-2 sm:mx-4 sm:text-xl text-md">
          <h2 class="gris sm:text-2xl text-xl  mx-1">19 March 2022</h2>
          <p class="text-red-600">- 1590 €</p>
        </div>
      </div>

      <!-- * achat
      <div>
        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Truc</p>
          <p class="text-red-600">- 40 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Nom personalisé</p>
          <p class="text-red-600">- 10 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Essence</p>
          <p class="text-red-600">- 1000 €</p>
        </div>
        <div class="w-full border-b border-black-perso mb-2 mt-2"></div>


        <!-- ! a mediter<div class="w-full bg-neutral-500/100 rounded-full blur-xl test">sef</div>
        <div class="flex justify-between mx-4 sm:text-xl text-md">
          <p>Essence</p>
          <p class="text-red-600">- 540 €</p>
        </div>
      </div>
    </div>

  </div> -->

      <div class="w-full absolute bottom-0.5 flex justify-center cursor-pointer backdrop-blur-md  bg-white/30 rounded-3xl" (click)="goTo('/history')">
        <p class="blue">Voir plus</p>
      </div>
    </div>

  </div>
